body{
    background-color: rgba(250,250,250,1);
}
li{
    display: inline;
    text-decoration: none;   
    color: white;
    font-family: Garamond;
    font-size: 17px;
    padding: 42px;
}
ul{
    margin: 0 auto;
    background-color: black;
    padding: 10px;
}
h1{
    text-align: center;
    margin-bottom:5px; 

}
b{
    font-size: 70px;
}
h2{
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
}
img{
    padding-left: 300px;
    margin: 0 auto;
}
.iphone{
    background-image: url("image.jpg");

    margin-top: 180px;
    height: 290px;
    width: 337px;
    text-align: center;
    color: white;
    padding-top: 4px;
    font-size: 18px; 
}
.iwatch{
    background-image: url("image1.jpg");

    margin-top: 180px;
    height: 290px;
    width: 337px;
    text-align: center;
    color: white;
    padding-top: 4px;
    font-size: 18px;   
}
.imac{
    background-image: url("image2.jpg"); 
    
    margin-top: 180px;
    height: 290px;
    width: 337px;
    text-align: center;
    color: white;
    padding-top: 4px;
    font-size: 18px;  
}
.assi{
    background-image: url("image3.jpg");
    
    margin-top: 180px;
    height: 290px;
    width: 337px;
    text-align: center;
    color: white;
    padding-top: 4px;
    font-size: 18px;
}
div{
    display: inline-block;
    float: left;
}
#st1{
   padding-left: 150px;
}

#st2{
    padding-left: 100px;
}
#st3{
    padding-left: 70px;
}
#st4{
    padding-left: 70px;
}

#st5{
    padding-left: 70px;
}
footer{
    padding-top:900px;
    padding-left: 150px;
    width: 1000px;
}
@media (max-width: 500px) {
    div{
        display: block;
    }
    li{
        display: block;
    }
}